@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #fafaff;
  --text-color: #151418;
  --shadow-color: rgba(160, 170, 180, 0.6);
  --shadow-hover-color: rgba(160, 170, 180, 0.9);
  --card-background: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.05);
  --card-shadow2: rgba(0, 0, 0, 0.1);
  --tech-color: #f5f5f5;
  --social-icon-color: rgb(119, 119, 121);
}
@media (prefers-color-scheme: dark) {
    :root  {
      --bg-color: #19181d;
      --text-color: #c8c8cc;
      --shadow-color: rgba(28, 65, 97, 0.6);
      --shadow-hover-color: rgba(28, 65, 97, 0.9);
      --card-background: #15151a;
      --card-shadow: rgba(5, 5, 5, 0.075);
      --card-shadow2: rgba(5, 5, 5, 0.15);
      --tech-color: #202020;
      --social-icon-color: rgb(204, 204, 204);
    }
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  font-weight: 400;
  overflow-x: hidden;
}

button {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

main {
  background: #151418;
  background-image: url('../public/blob-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 100px;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  transition: 0.2s ease-in;
}

ul,
ol {
  list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

img,
video {
  display: block;
  max-width: 100%;
}

.btn {
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  outline: none;
}

.btn-shadow{
  box-shadow: 0px 2px 5px var(--shadow-color);
}

.btn-shadow:hover{
  box-shadow: 0px 3px 8px var(--shadow-hover-color);
}

.PrimaryBtn {
  padding: 12px 20px;
  border: none;
  background: rgb(57, 134, 250);
  color: #f6f6f6;
}

.SecondaryBtn{
  padding: 10px 18px;
  border: 2px solid rgb(57, 134, 250);
  color: var(--text-color);
  margin-right: 1rem;
}

.PrimaryBtn:hover {
  background: rgb(18, 111, 250);
}

.SecondaryBtn:hover {
  background: #e7f1fa;
  color: #000;
}

.Container {
  max-width: 1000px;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.BigCard {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background: var(--card-background);
  box-shadow: var(--card-shadow) 0px 5px 10px;
}

.AboutBio{
  text-align: justify;
  max-width: 750px;
  margin: 0 auto;
  color: var(--text-color);
  line-height: 1.6;
}

.tagline2 {
  text-align: left;
  max-width: 650px;
  margin: 0;
  color: var(--text-color);
  line-height: 1.6;
}

.tagline2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.SectionTitle {
  font-size: 28px;
  color: var(--text-color);
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.ProjectWrapper {
  margin-top: -1rem;
}


/* ------------------------------------ Media for Container */
@media (max-width: 1000px) {
  .Container {
    padding: 0;
  }
}
